extends layout

block content
  h1 FOODBOUR
  p.lead Marketplace for homecooked meals
  hr
  .row
    .col-sm-6
      h2 Overview
      p Cook what your neighbors want or what you prefer and let your neighbors know. The best way is to eat what is cooked at home.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 How it Works
      p Foodbour will match up with cooks and families who look for homecooked food. We try to match within your neighborhood allowing for easy access to pickup.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Order
      p We all yearn for that home cooked meals. We know about your hectic schedule. We also know the value of our community. We can help by bringing people provisioning meals close to us. Your request to eat specific dish can be prepared by your neighbor. Look around.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Behome Chef
      p We cook meals at home everyday and brim at appreciation of family with content. We see an opportunity to provision home cooked meals to our neighbors but at a cost where your effort and skill is valued
      p
        a.btn.btn-default(href='#', role='button') View details » 